{{template "base" .}}

{{define "content"}}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Hello world, this is the about page</h1>
                <h2>Testing 1 2</h2>
                <p>This came from template: {{index .StringMap "test"}}</p>
            
            <p>
            {{if ne (index .StringMap "remote_ip") ""}}
                Your IP address is: {{index .StringMap "remote_ip"}}
            {{else}}
                We could not find your IP address. Visit <a href="/">Home</a> so I can set it
            {{end}} 
            </p>
            </div>
        </div>
    </div>

{{end}} 